/* Terminal */

/*
installer node.js pour pouvoir installer sass
installer sass : npm install -g sass
générer un fichier css à partir d'un fichier scss :      sass scss/base/style.scss:styles/style.css --watch
lire par le fichier déjà généré: sass scss/base/style.scss styles/style.css --watch
--watch : signifie qu'on va tout le temps être à l'écoute des changements*/

/* **************************** METTRE LES VARIABLE EN PREMIER ****************************
 "_" : pour dire que c'est un module et qu'il ne faut pas le compiler et qu'on va l'importer dans un autre fichier plus grand --> */


@import "../utils/variables";  //stockages des variables
@import '../utils/mixins';       //bout de code réutilisable (avec des paramètre)
@import "../utils/placeholders"; // bout de code reutilisable (sans paramètre)
@import "../base/responsive"; // gestion des min-width max width



html>* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  body {

    height: auto;
    width: 100vw;
  }

  a:link {
    text-decoration: none;
    color:black;
  }

  a:visited {
    text-decoration: none;
  }

  p{
    margin:0;
  }
}




/* HEADER */

.header{
    &__title {

      height:4rem;
      background: brown;
      @include flexcenter;

      &__logo{
        height:1.875rem;
        width:10rem;
      }
    }

    &__encart{

      flex-direction: column;


      &__localisation{

        height: 3.125rem;
        background: #337bc1;
        @include flexcenter;

      }

      &__content{
        height: 17.93rem;
        background: burlywood;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        /*padding-bottom: 57px;
        padding-top: 43px;*/

      }

    }
}
//icone de l'encart

.header__encart__localisation__icone{
margin-right:1rem;
}

//titre de l'encart

.header__encart__content__title{
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;

  margin-top:2.75rem;

}

//Description de l'encart

.header__encart__content__description {
text-align: center;
  margin-left: 1.875rem;
  margin-right:1.875rem;


}

//lien-bouton du header "explorebtn"

.header__encart__content__explorebtn{
  @include flexcenter;
  height:3.125rem;
  width:13.75rem;
  background: blueviolet;
  border-radius: 2rem;

  margin-bottom: 3.625rem;
    &__cliquable{
      @include flexcenter;

      height: 100%;
      width:100%;

    }
}

/* ******************************************PARTIE FONCTIONNEMENT********************************** */

.fonctionnement{
  display: flex;
  flex-direction: column;
  height: auto;

  padding: 3.5rem 1.125rem 4.125rem;

  &__title{

      }
      &__regle{
        @include flexcenter;
        justify-content: flex-start;
        flex-direction: row;

        height: 4.75rem;
        border-radius: 1rem;
        background: antiquewhite;

        margin-top:1.5rem;
        margin-left: 0.781rem;

        &__numero{
          @include flexcenter;
          height: 1.563rem;
          width: 1.563rem;
          background: brown;
          border-radius: 50%;

          position: absolute;
          left:1.20rem;
        }

        &__icone{
          margin-left:2.125rem;
          margin-right: 1.75rem;
        }
      }
}

/* ******************************************PARTIE RESTAURANT********************************** */


div.restaurant{
  display: flex;
  flex-direction: column;

  height:auto;
  flex-basis:100%;
  background: grey;

  padding-top: 60px;
  padding-left:20px;
  padding-right: 20px;


    &__title{
    padding-bottom: 26px;
    }
    &__wrapper{
      height:auto;
      padding-bottom:46px;



      &__cliquable {
        display: flex;
        margin-bottom: 18px;

        &__container{
          display: flex;
          flex-direction: column;
          height: 252px;
          background: brown;
          width: auto;
          border-radius: 1rem;
          overflow: hidden;
          margin-bottom: 18px;
        }
    }

    }
}

//ELEMENT DU CONTAINER



.restaurant__wrapper__cliquable__container{
  &__zonetext{
    min-height: 78px;
    background: dodgerblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 23px;
    padding-left: 13px;
  }
 &__imgcontainer{
   flex-grow: 2;
   overflow: hidden;

   & img{
     height: 100%;
     width: 100%;
     object-fit: fill;
   }
 }
}

/******************************************PARTIE FOOTER***************************************************** */


footer{
display: flex;
  flex-direction: column;
  background: cornflowerblue;
  min-height: 197px;
  max-height: 197px;

  justify-content: space-between;
  padding-left:24px;
  }


footer div.footer__logo img{
  height: 18px;
  width: 100px;
}

div.footer__elementseparate__textwrapper{
  display: flex;
  flex-direction: row;

  & i{
    margin-right:12px;
  }

}
div.footer__logo {
  margin-top:26px;
  margin-bottom: 22px;
}

div.footer__elementseparate {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 37px;

}