@charset "UTF-8";
/* Terminal */
/*
installer node.js pour pouvoir installer sass
installer sass : npm install -g sass
générer un fichier css à partir d'un fichier scss :      sass scss/base/style.scss:styles/style.css --watch
lire par le fichier déjà généré: sass scss/base/style.scss styles/style.css --watch
--watch : signifie qu'on va tout le temps être à l'écoute des changements*/
/* **************************** METTRE LES VARIABLE EN PREMIER ****************************
 "_" : pour dire que c'est un module et qu'il ne faut pas le compiler et qu'on va l'importer dans un autre fichier plus grand --> */
html {
  scroll-behavior: smooth;
}

html > * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html > * body {
  height: auto;
  width: 100vw;
}
html > * a:link {
  text-decoration: none;
  color: black;
}
html > * a:visited {
  text-decoration: none;
}
html > * p {
  margin: 0;
}

/* HEADER */
.header {
  position: relative;
}
.header__title {
  height: 4rem;
  background: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title__cliquable {
  position: absolute;
  left: 0;
  top: 0;
  text-decoration: none;
  color: black;
}
.header__title__cliquable__arrowreturn {
  position: absolute;
  left: 0;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title__logo {
  height: 1.875rem;
  width: 10rem;
}
.header__encart {
  flex-direction: column;
  max-height: 286.883px;
}
.header__encart__localisation {
  height: 3.125rem;
  background: #337bc1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__encart__content {
  height: 17.93rem;
  background: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /*padding-bottom: 57px;
  padding-top: 43px;*/
}
.header__encart__content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.inverted-border-radius {
  position: relative;
  border-radius: 0;
}
.inverted-border-radius::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: 0 -34px 0 0 white;
}

.header__encart__localisation__icone {
  margin-right: 1rem;
}

.header__encart__content__title {
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2.75rem;
}

.header__encart__content__description {
  text-align: center;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.header__encart__content__explorebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  width: 13.75rem;
  background: blueviolet;
  border-radius: 2rem;
  margin-bottom: 3.625rem;
}
.header__encart__content__explorebtn__cliquable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

/* ******************************************PARTIE FONCTIONNEMENT********************************** */
.fonctionnement {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 3.5rem 1.125rem 4.125rem;
}
.fonctionnement__regle {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: 4.75rem;
  border-radius: 1rem;
  background: antiquewhite;
  margin-top: 1.5rem;
  margin-left: 0.781rem;
}
.fonctionnement__regle__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.563rem;
  width: 1.563rem;
  background: brown;
  border-radius: 50%;
  position: absolute;
  left: 1.2rem;
}
.fonctionnement__regle__icone {
  margin-left: 2.125rem;
  margin-right: 1.75rem;
}

/* ******************************************PARTIE RESTAURANT********************************** */
div.restaurant {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-basis: 100%;
  background: grey;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
div.restaurant__title {
  padding-bottom: 26px;
}
div.restaurant__wrapper {
  height: auto;
  padding-bottom: 46px;
}
div.restaurant__wrapper__cliquable {
  display: flex;
  margin-bottom: 18px;
}
div.restaurant__wrapper__cliquable__container {
  display: flex;
  flex-direction: column;
  height: 252px;
  background: brown;
  width: auto;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 18px;
}

.restaurant__wrapper__cliquable__container {
  position: relative;
}
.restaurant__wrapper__cliquable__container__new {
  position: absolute;
  top: 14px;
  right: 12px;
  background: green;
  height: 29px;
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
}
.restaurant__wrapper__cliquable__container__zonetext {
  min-height: 78px;
  background: dodgerblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 23px;
  padding-left: 13px;
  color: black;
}
.restaurant__wrapper__cliquable__container__imgcontainer {
  flex-grow: 2;
  overflow: hidden;
}
.restaurant__wrapper__cliquable__container__imgcontainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/******************************************PARTIE FOOTER***************************************************** */
footer {
  display: flex;
  flex-direction: column;
  background: cornflowerblue;
  min-height: 197px;
  max-height: 197px;
  justify-content: space-between;
  padding-left: 24px;
}

footer div.footer__logo img {
  height: 18px;
  width: 100px;
}

div.footer__elementseparate__textwrapper {
  display: flex;
  flex-direction: row;
}
div.footer__elementseparate__textwrapper i {
  margin-right: 12px;
}

div.footer__logo {
  margin-top: 26px;
  margin-bottom: 22px;
}

div.footer__elementseparate {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 37px;
}
div.footer__elementseparate a {
  color: white;
}

/********************************** PARTIE CARTE MENU **********************************/
div.menucarte {
  padding-left: 19px;
  padding-right: 19px;
  background: cadetblue;
  padding-bottom: 0.001rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.menucarte__enseigne {
  display: flex;
  background: darkcyan;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 45px;
}
div.menucarte__enseigne i {
  margin-right: 23px;
}
div.menucarte__boutoncentrer {
  display: flex;
  justify-content: center;
  margin-bottom: 83px;
}
div.menucarte__boutoncentrer__commanderbtn {
  width: 180px;
  height: 50px;
  border-radius: 2rem;
  background: blueviolet;
}
div.menucarte__boutoncentrer__commanderbtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

div.menucarte__menupart {
  height: auto;
  min-height: 10px;
  margin-bottom: 42px;
}
div.menucarte__menupart__title {
  text-transform: uppercase;
}
div.menucarte__menupart__title__specialborder {
  height: 3px;
  width: 40px;
  background: green;
  margin-top: 9px;
}
div.menucarte__menupart__vignetteswrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
div.menucarte__menupart__vignetteswrapper__vignettecarte {
  height: 38px;
  background: aquamarine;
  border-radius: 1rem;
  display: flex;
  align-content: space-between;
  padding: 15px 23px 15px 10px;
  margin-top: 14px;
}
div.menucarte__menupart__vignetteswrapper__vignettecarte__vignettecartewrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}
div.menucarte__menupart__vignetteswrapper__vignettecarte__vignettecartewrapper__vignettecomplement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
